@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #e4e4e7;
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

@keyframes marquee-reverse {
  from { transform: translateX(-50%); }
  to   { transform: translateX(0); }
}
